#calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.meat_info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd26;
}

.total{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}